h1 {
  font-size: 16px;
  color: steelblue;
}

label[for=message] {
  color: green;
}

#message {
  display: block;
  font-size: 16px;
  height: 32px;
}

.hide {
  display: none;
}

.cleaned {
  margin-left: 8px;
  font-family: monospace;
  color: #448;
  text-transform: uppercase;
  background-color: #EEE;
}

.card {
  background-color: #e8e8e8;
  font-size: 60px;
}
